{% extends 'website_templates/home/navbar.html' %}{% load static %}
<div class="faculty">
  {% block content %}
  <div class="faculty-backgrd">
    <div class="faculty-table">
      <div class="faculty-head">
        <h1>-:Faculty Members:-</h1>
      </div>
      <div class="container">
        <div
          class="row"
          style="margin-top: 1rem; margin-bottom: 3rem; margin-left: 2rem"
        >
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="{% static 'emp-img/Biswajeet sahu.jpg' %}"
                class="card-img-top"
                alt="..."
                width="200"
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Dr Biswajeet Sahu (HOD)</h5>
                <p class="card-text">
                  <span>Designation : Asst.Professor</span><br />
                  <span>Department : ETC(UG & PG)</span><br />
                  <span>Experiance : 9 yrs +</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="{% static 'emp-img/Surjyo Narayana Panigrahi.jpg' %}"
                class="card-img-top"
                alt="..."
                width="200"
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Dr Surjyo Narayana Panigrahi</h5>
                <p class="card-text">
                  <span>Designation : Asst.Professor</span><br />
                  <span>Department : ETC(UG & PG)</span><br />
                  <span>Experiance : 3 yrs +</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="{% static 'emp-img/Ram Chandra Swain.jpg' %}"
                class="card-img-top"
                alt="..."
                width="200"
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Dr Ram Chandra Swain</h5>
                <p class="card-text">
                  <span>Designation : Asst.Professor</span><br />
                  <span>Department : ETC(UG & PG)</span><br />
                  <span>Experiance : 8 yrs +</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row"
          style="margin-top: 3rem; margin-bottom: 3rem; margin-left: 2rem"
        >
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="{% static 'emp-img/Rasmiraj Palo.jpg' %}"
                class="card-img-top"
                alt="..."
                width="200"
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Dr Rasmiraj Palo</h5>
                <p class="card-text">
                  <span>Designation : Asst.Professor</span><br />
                  <span>Department : BBA & MFA</span><br />
                  <span>Experiance : 13 yrs +</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="{% static 'emp-img/Saras Kumar Panda.jpg' %}"
                class="card-img-top"
                alt="..."
                width="200"
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Dr Saras Kumar Panda</h5>
                <p class="card-text">
                  <span>Designation : Asst.Professor</span><br />
                  <span>Department : BBA ,MFA ,ETC(UG)</span><br />
                  <span>Experiance : 12 yrs +</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="{% static 'emp-img/Akshya Kumar Swain.jpg' %}"
                class="card-img-top"
                alt="..."
                width="200"
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Dr Akshya Kumar Swain</h5>
                <p class="card-text">
                  <span>Designation : Asst.Professor</span><br />
                  <span>Department : BBA & MFA</span><br />
                  <span>Experiance : 9 yrs +</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="row"
          style="margin-top: 3rem; margin-bottom: 3rem; margin-left: 2rem"
        >
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="{% static 'emp-img/Ranjan Kumar Sahu (1).jpg' %}"
                class="card-img-top"
                alt="..."
                width="200"
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Dr Ranjan Kumar Sahu</h5>
                <p class="card-text">
                  <span>Designation : Asst.Professor</span><br />
                  <span>Department : BBA, MFA, ETC(UG & PG) </span><br />
                  <span>Experiance : 11 yrs +</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="{% static 'emp-img/Sunil Kumar Samantarya.jpg' %}"
                class="card-img-top"
                alt="..."
                width="200"
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Dr Sunil Kumar Samantarya</h5>
                <p class="card-text">
                  <span>Designation : Asst.Professor</span><br />
                  <span>Department : ETC(UG & PG)</span><br />
                  <span>Experiance : 9 yrs</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="{% static 'emp-img/Lokanath Patnaik.jpg' %}"
                class="card-img-top"
                alt="..."
                width="200"
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Lokanath Patnaik</h5>
                <p class="card-text">
                  <span>Designation : Asst.Professor</span><br />
                  <span>Department : ETC(UG & PG)</span><br />
                  <span>Experiance : 9 yrs</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row"
          style="margin-top: 3rem; margin-bottom: 3rem; margin-left: 2rem"
        >
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="{% static 'emp-img/Chinmayananda Sahu.jpg' %}"
                class="card-img-top"
                alt="..."
                width="200"
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Chinmayananda Sahu</h5>
                <p class="card-text">
                  <span>Designation : Asst.Professor</span><br />
                  <span>Department : ETC(UG & PG)</span><br />
                  <span>Experiance : 9 yrs</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
