{% extends 'website_templates/home/navbar.html' %}{% load static %}
<div class="placement">
  {% block content %}
  <div class="placement-head">
    <h1>-: Placement :-</h1>
  </div>
  <div class="container-place">
    <div class="placement-notice">
      <h2>Notices</h2>
    </div>
    <div class="archivement">
      <h2>Notable Alumni</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Highest qualification</th>
            <th scope="col">designation</th>
            <th scope="col">Current affiliation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ramipta Satapathy</td>
            <td>M.Sc ETC <br />(2017)</td>

            <td>
              System <br />
              Engineer
            </td>
            <td>TCS</td>
          </tr>
          <tr>
            <td>Preeti Behera</td>
            <td>M.Sc ETC <br />(2019)</td>

            <td>
              System <br />
              Engineer
            </td>
            <td>TCS</td>
          </tr>
          <tr>
            <td>Nihal Ranjan Padhy</td>
            <td>M.Sc ETC <br />(2019)</td>
            <td>
              Application <br />
              Development <br />
              Analyst
            </td>
            <td>Accenture</td>
          </tr>
          <tr>
            <td>Priya Ranjan Sahu</td>
            <td>B.Sc ETC <br />(2020)</td>
            <td>
              Software <br />
              Associate
            </td>
            <td>Capgemini India</td>
          </tr>
          <tr>
            <td>Suraj Kumar Nayak</td>
            <td>M.Sc ETC <br />(2020)</td>
            <td>
              Production <br />
              Engineer(Trainee)
            </td>
            <td>
              EzeRx Health <br />
              Tech Pvt Ltd<br />
              Bhubaneswar
            </td>
          </tr>
          <tr>
            <td>Y.Anil Kumar</td>
            <td>MFA</td>
            <td>
              Manager <br />
              Accounts
            </td>
            <td>OMS LTD</td>
          </tr>
          <tr>
            <td>Abhilash Biswal</td>
            <td>MFA</td>
            <td>
              Manager <br />
              Collaterial <br />Mortage
            </td>
            <td>BAJAJ HOUSING</td>
          </tr>
          <tr>
            <td>Hrudya Ranjan Kar</td>
            <td>MFA</td>
            <td>Manager <br />Forex</td>
            <td>THOMAS COOK LTD.</td>
          </tr>
          <tr>
            <td>Sai Santosh</td>
            <td>MFA</td>
            <td>
              ASST. Manager <br />
              Accounts
            </td>
            <td>IRE, CHATRAPUR</td>
            <td></td>
          </tr>
          <tr>
            <td>Raj Kishore Setthy</td>
            <td>MFA</td>
            <td>Regional Head(HR)</td>
            <td>
              ANNAPURAM <br />
              MICRO-FINANCE
            </td>
          </tr>
          <tr>
            <td>Pritika Dash</td>
            <td>PGDM</td>
            <td>Manager(CRM)</td>
            <td>
              INDIAN PROPERTIES, <br />
              PUNA
            </td>
          </tr>
          <tr>
            <td>Tamana Vyas</td>
            <td>MJMC</td>
            <td>Oolywood <br />Actress</td>
            <td>
              ODIA AND TELGU <br />
              FILM INDUSTRIES
            </td>
          </tr>
          <tr>
            <td>Gopinath Panda</td>
            <td>BBA</td>
            <td>Analyst</td>
            <td>DEUTSCHE BANK</td>
          </tr>
          <tr>
            <td>Santosh Raula</td>
            <td>PGDM</td>
            <td>SR. Financial <br />Analyst</td>
            <td>WELLS FARGO</td>
          </tr>
          <tr>
            <td>Debasis Sahu</td>
            <td>BBA</td>
            <td>Area Coordinator</td>
            <td>SHOPPER’S STOP</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}
</div>
