{% extends 'website_templates/home/navbar.html' %}{% load static %}
<div class="student">
  {% block content %}
  <div class="student-head">
    <h1>-: Student :-</h1>
  </div>
  <div class="container-stu">
    <div class="syllabus">
      <table class="table table-borderless">
        <tbody>
          <h2>Syllabus</h2>
          <thead>
            <tr>
              <th scope="col">Sl. No.</th>
              <th scope="col">Document</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tr>
            <th scope="row">1</th>
            <td>ETC UG Syllabus</td>
            <td>
              <a href=""
                ><button type="button" class="btn-success">Download</button></a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>ETC PG Syllabus</td>
            <td>
              <a href=""
                ><button type="button" class="btn-success">Download</button></a
              >
            </td>
          </tr>
          <tr>
            <th></th>
            <th style="margin-left: -2rem"><h2>Previous Year Paper</h2></th>
          </tr>

          <thead>
            <tr>
              <th scope="col">Sl. No.</th>
              <th scope="col">Document</th>
              <th scope="col">Link</th>
            </tr>
          </thead>

          <tr>
            <th scope="row">1</th>
            <td>BROADBAND COMMUNICATION (ETC-1001)(2022)</td>
            <td>
              <a href=""
                ><button type="button" class="btn-success">Download</button></a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>WIRELESS MOBILE COMMUNICATION (ETC-1002)(2022)</td>
            <td>
              <a href=""
                ><button type="button" class="btn-success">Download</button></a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>EMBEDDED SYSTEM (ETC-1003)(2022)</td>
            <td>
              <a href=""
                ><button type="button" class="btn-success">Download</button></a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>SOFT COMPUTING (ETC-1004) (2022)</td>
            <td>
              <a href=""
                ><button type="button" class="btn-success">Download</button></a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>SOFT COMPUTING (ETC-1004) (2019)</td>
            <td>
              <a href=""
                ><button type="button" class="btn-success">Download</button></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  {% endblock %}
</div>
