{% extends 'website_templates/home/navbar.html' %}{% load static %}
<div class="academic">
  {% block content %}

  <div class="head">
    <div class="hd-in">
      <h1 style="color: rgb(31, 31, 120)">-: Academic :-</h1>
      <ul class="nav justify-content-center nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#section1"
            >Courses</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section2">Admission Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section3">Eligibility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section4">Entrance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section5">Selection Process</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-aca">
    <div class="section one" id="section1">
      <div class="academic-body">
        <div class="academic-body-heading">
          <h1>Course :</h1>
        </div>
      </div>
      <div class="ac-top">
        <h3>About the University</h3>
        <p style="text-align: justify; text-justify: inter-word">
          Khallikote Unitary University is a newly constituted institution of
          national repute offering Graduate, Post-Graduate and M.Phil. Courses
          in Arts, Commerce, and Science along with Self-Financing Courses. The
          Government of Odisha has conferred the status of the University with
          effect from 1st August 2021. In an attempt to maintain its
          distinctiveness and brilliance, the University is on constant strive
          to formulate curricular, co-curricular, and extra-curricular
          activities so that the students would become self-reliant and can
          contribute to nation-building activities.
        </p>
      </div>
      <h3>COLLABORATIVE SELF-FINANCING COURSES OFFERED BY THE UNIVERSITY</h3>
      <table style="text-align: justify; text-justify: inter-word">
        <th><h4>UG Courses</h4></th>
        <tr>
          <td>(1)</td>
          <td>BBA (Bachelor of Business Administration) :-</td>
          <td>3 yrs</td>
        </tr>
        <tr>
          <td>(2)</td>
          <td>M Sc ETC(5 yr Integrated) (Dual Degree) :-</td>
          <td>5 yrs (3+2)</td>
        </tr>
        <th><h4>PG Courses</h4></th>
        <tr>
          <td>(3)</td>
          <td>MFA (M.Com in Financial Analysis) :-</td>
          <td>2 yrs</td>
        </tr>
        <tr>
          <td>(4)</td>
          <td>M Sc ETC (LE) :-</td>
          <td>2 yrs (3+2)</td>
        </tr>
      </table>
    </div>
    <div class="section two" id="section2">
      <div class="ac-top">
        <h1>Admission Procedure :</h1>
        <p style="text-align: justify; text-justify: inter-word">
          For admission into any of the self finance courses the candidate has
          to appear at Entrance Examination as per the programme notified and
          he/she will be considered for admission on the basis of his/her
          performance in the Entrance Examination and his /her academic score
          taken together. Admission into UG courses will be based on merit.
        </p>
      </div>
      <h3>RESERVATION OF SEATS: (As per SAMS guideline)</h3>
      <ol style="text-align: justify; text-justify: inter-word">
        <li>
          16.25% of the total numbers of sanctioned seats of a course are
          reserved for candidates belonging to SC category.
        </li>
        <br />
        <li>
          22.50 of the total number of sanctioned seats of a course are reserved
          for candidates belonging to ST category
        </li>
        <br />
        <li>
          The seats of SC and ST are not interchangeable and any reserved seats
          remaining vacant in either category will be filled up from the general
          merit, list.
        </li>
        <br />
        <li>
          2 % of the total seats shall be kept reserved for children of bonafide
          Burma Repatriates B.R.).
        </li>
        <br />
        <li>
          1 % of the total number of seats shall be kept reserved for the
          children/wife/husband/ of Ex-Servicemen (ESM).
        </li>
        <br />
        <li>
          1 % of the total number of seats shall be kept reserved for the
          children/wife/husband of Serving Defense Personnel (SDP).
        </li>
        <br />
        <li>
          3 % of total number of seats at the Degree and Post-Graduate level
          shall be kept reserved for disabled (DBL) persons (minimum 40%
          disability to be certified by the CDMO/ SDMO/Chief Medical Officer,
          City Hospital, Berhampur).
        </li>
        <br />
        <li>
          2 % of the total seats will be reserved for the children/ grand
          children of Saheed Soldiers and Swadhinata Sangrami (S.S.). The
          candidate has to produce attested copy/copies of the documentary
          evidence from the competent authority.
        </li>
        <br />
        <li>
          The total number of students admitted from outside the State of Odisha
          (O.S.) to any course shall not exceed 5 % of the total number of
          sanctioned seats of the course. For the purpose of admission, an
          applicant will be deemed to be from within the State of Odisha, if
          he/she has passed the qualifying examination from any of the schools/
          Universities situated within the territory of the State of Odisha. If
          an applicant whose parents are permanent residents of the state of
          Odisha, has passed his/her qualifying examination from
          school/University not situated within the territory of the state of
          Odisha, he/she may be considered to be from within the state of
          Odisha, provided he/she produces a Domicile certificate from a local
          Revenue Officer, not below the rank of the Tahasildar to the effect
          that his/her parents are permanent residents of that locality in the
          state of Odisha.
        </li>
      </ol>
      <h3>WEIGHTAGE FOR ADMISSION (For Degree Courses)</h3>
      <ol style="text-align: justify; text-justify: inter-word">
        <li>
          NCC candidates holding 'B' and 'C certificate may get an additional
          weightage of 5% and 10% marks respectively over and above the
          aggregate marks secured by them in the qualifying examination subject
          to the condition that this additional weightage will not be given to
          an applicant who had failed earlier at Higher Secondary/Degree stage
          and has subsequently passed.
        </li>
        <br />
        <li>
          Applicants who have represented the University or the State or the
          Central School/ Sainik School at the all India level in NCC activities
          will be given weightage of an additional 5% marks over and above the
          aggregate obtained by them subject to the production of the necessary
          certificate from the Director General of N.C.C./Director of N.C.C. of
          the sponsoring State which the applicant represented.
        </li>
        <br />
        <li style="text-align: justify; text-justify: inter-word">
          The following categories of sports persons will be given admission as
          per the following norms subject to eligibility.
          <ul type="circle">
            <li>
              Those who have represented the country at the international level
              shall get straight admission.
            </li>
            <br />
            <li>
              Those who have represented the State at the national level shall
              get 10% weightage of examination.
            </li>
            <br />
            <li>
              NSS volunteers who have received State Award will be given
              weightage of' an additional 5% marks over and above the aggregate
              marks obtained by them in the qualifying examination.<br />
              Best NSS volunteers at University level will be given weightage of
              an additional 3% marks over and above the aggregate marks obtained
              by them in the qualifying examination.
            </li>
          </ul>
        </li>
        <li>
          Total weightage that can be availed is limited to 10 % of total marks.
        </li>
      </ol>
    </div>
    <div class="section three" id="section3">
      <div class="ac-top">
        <h1>Eligibility :</h1>
        <p>For admission into different courses are as follows:</p>
      </div>
      <ol style="text-align: justify; text-justify: inter-word">
        <li>
          <strong>BBA :</strong>
          Should have passed +2/XII Std. Arts/Science/Commerce or equivalent
          with a minimum of 40% marks in aggregate excluding extra optional.
        </li>
        <br />
        <li>
          <strong>MFA :</strong>
          Should have passed +3 Arts/Science/Commerce or equivalent with a
          minimum of 50% marks in aggregate (min. 45% for B. Com and SC/ST
          students).<br />
          (Candidates passing from National Open School (NIOS), New Delhi or
          equivalence in order to be considered for admission should have at
          least one language subject (Compulsory) and FOUR other optional out of
          which one may or may not be a language subject.)
        </li>
        <br />
        <li>
          <ul>
            <li>
              <strong>) M.Sc. Etc (Integrated): </strong>Should have passed
              +2/XII Std. Science or equivalent with Mathematics as a subject
              and minimum of 40% marks in aggregate.
            </li>
            <br />
            <li>
              <strong>M.Sc. Etc (Lateral Entry):</strong>Should have passed
              +3/XII Std. Science or equivalent with Mathematics / Physics /
              Electronics/ Computer Sc./ Information Science &
              Telecommunications / Information Technology with 50% in the
              subject and minimum of 50% marks in Agg.. Candidates with +3
              Science (Hons) in the concerned subject will be given preference
              for admission.
            </li>
            <br />
          </ul>
        </li>
      </ol>
      <h4>HOW TO APPLY FOR ONLINE ADMISSION INTO DIFFERENT COURSES</h4>
      <ol style="text-align: justify; text-justify: inter-word">
        <li>
          <strong>Application From: </strong>The filled up Application form and
          Information Brochure for admission into collaborative self–financing
          courses can be downloaded from the college website
          <a href="https://kuu.ac.in/">www.kuu.ac.in.</a>
        </li>
        <br />
        <li>
          <strong
            >At first the online payment of Rs.600/- through Net Banking in
            favor of “Comptroller of Finance, Khallikote Unitary University,
            Central Bank Of India, Account No: 5132400923, IFSC Code:
            CBIN0283241” then proceed to form fill up.
          </strong>
          <br />
          <br />
          <strong
            >NB: THE ONLINE PAYMENT TRANSACTION ID MUST BE UPLOADED FIRST THEN
            FILL UP THE ONLINE FORM
          </strong>
        </li>
        <br />
      </ol>
      <h4>ONLINE APPLICATION PROCESS</h4>
      <p style="text-align: justify; text-justify: inter-word">
        The Information Brochure for admission into different collaborative self
        financing courses through ONLINE are available on website
        <a href="https://kuu.ac.in/">www.kuu.ac.in.</a>
      </p>
      <p><strong>Important Points to be noted:</strong></p>
      <ul style="text-align: justify; text-justify: inter-word">
        <li>
          If the candidate desires to be considered for different course he /
          she shall submit separate online application forms for each course.
        </li>
        <br />
        <li>
          The photocopies of all the certificates and mark sheets etc. should be
          self attested.
        </li>
        <br />
        <li>
          Claim for reservation / weightage / concession not supported by
          documents or certificates from appropriate authorities, won’t
          entertained.
        </li>
        <br />
        <li>
          Certificates claiming additional weightage on account of Sports /
          being Burma repatriates / Odias living in neighboring states shall be
          forwarded to the Police (Crime Branch) for verification.
        </li>
        <br />
        <li>
          Applicants are required to mention their correct permanent address in
          the application form in addition to their mailing address and contact
          numbers, if any, failing which the application is likely to be
          rejected.
        </li>
        <br />
        <li>
          Entries in all columns should be filled in clearly as per instruction
          given in the application form and not by mere dots or dashes or cross
          marks.
        </li>
        <br />
        <li>
          Suppression of facts or submission of incorrect information by the
          applicant, if detected at the time of admission or subsequently, shall
          render the selection / admission invalid.
        </li>
        <br />
        <li>
          An application incomplete in any respect is liable to be summarily
          rejected.
        </li>
      </ul>
    </div>
    <div
      class="section four"
      id="section4"
      style="text-align: justify; text-justify: inter-word"
    >
      <h1>Entrance Examination :</h1>
      <p>
        The entrance examination for different courses of MFA and M Sc ETC (LE)
        will be conducted as per the schedule. The subjects from which the
        questions are set is also given below in the form of a table for the
        reference of the candidates. The candidates are expected to come
        prepared accordingly. The questions may be objective and / or short
        answer type related to the subjects mentioned.
      </p>
      <ul>
        <li>
          All the examinees shall enter the examination hall and take their
          seats according to their Roll Number at least 15 minutes before the
          commencement of the examination. They should bring their own Ball
          Point Pen (Blue / Blue Black / Black).
        </li>
        <br />
        <li>
          No candidate shall be allowed to enter the Examination hall 15 minutes
          after the commencement of the examination.
        </li>
        <br />
        <li>
          Candidates shall bring their Admit Card and submit the same for
          verification.
        </li>
        <br />
        <li>
          Adoption of unfair means and indiscipline in any form inside the
          examination hall during the conduct of examination shall disqualify
          the candidate.
        </li>
        <br />
        <li>
          No candidate shall leave the examination hall until the final bell
          rings.
        </li>
        <br />
        <li>
          Candidates are not allowed to bring Mobile phone / Calculators /
          Statistics table etc., into the Examination Hall.
        </li>
        <br />
        <li>
          In all other matters not covered in these rules, the Centre
          Superintendent is empowered to take necessary decision for the smooth
          conduct of the examination.
        </li>
        <br />
        <li>
          All the candidates must wear face mask while entering the Exam hall
          and shall follow Covid – 19 appropriate behavior according to the
          guidelines issued by Govt. of Odisha.
        </li>
        <br />
      </ul>
      <table>
        <thead>
          <th>Sl.No.</th>
          <th>Name of the Course</th>
          <th>Entrance Subjects</th>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>MFA</td>
            <td>
              Arithmetic, English, General Knowledge,<br />
              General Awareness on Computer and I.T
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>MSc ETC(LE)</td>
            <td>
              Electronics, English, General Knowledge, <br />Math, Physics
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="section five"
      id="section5"
      style="text-align: justify; text-justify: inter-word"
    >
      <h1>Selection Process :</h1>
      <ul>
        <li>
          Final selection of the candidates for admission into different PG
          courses MFA and M Sc ETC (LE) will be made on the basis of their
          performance in the Entrance Examination and career assessment. The
          career assessment is based on the total marks secured by a candidate
          in the HSC, (Xth Class) or equivalent and H.S (XII Class) or
          equivalent, H.S.(XII Class) or equivalent and +3 examinations.
        </li>
        <br />
        <li>
          Final selection of the candidates for admission into different UG
          courses i.e. BBA and M Sc ETC (Int.) will be made on the basis of
          their career assessment.
        </li>
      </ul>
      <p>The marks allotted for career assessment are as follows:</p>
      <ol>
        <li>
          For admission into BBA/M.Sc. ETC(Int) = H.S.C or equivalent – 20 and
          H.S. or equivalent – 30, Total = 50.
        </li>
        <br />
        <li>
          For admission into MFA/M.Sc. ETC(LE) = H.S.C or equivalent – 10 and
          H.S. or equivalent – 15 and B.A/B.Sc./B.Com. – 23.
          B.A/B.Sc./B.Com.(Hons) – 23 + 10, and Distinction – 02, Total = 60.
        </li>
      </ol>
      <p>Career marks are calculated as follows:</p>
      <p>
        <strong
          >(Marks Secured without extra optional)/(Maximum marks without extra
          optional) X Marks Assigned for career</strong
        >
      </p>
      <p>
        For a candidate who has passed the H.S.C/ H.S. or equivalent examination
        compartmentally, the average of two marks secured by him / her shall be
        taken into consideration for determining the aggregate. If a candidate
        is eligible for any weightage, such weightage marks will be added to the
        aggregate for career assessment.
      </p>
      <p>
        In case the marks secured by two applicants are equal the merit shall be
        determined on the basis of marks secured by the candidate in the
        Entrance Examination.
      </p>
      <h4>PUBLICATION OF ENTRANCE RESULT/ MERIT LIST:</h4>
      <p>The course wise merit list will be notified on the web site.</p>
      <h3>Admission</h3>
      <ol>
        <li>
          Intimations to the selected candidates will be sent by e- mail
          submitted by the candidates
        </li>
        <br />
        <li>
          The selected candidates, after receiving the information/intimation,
          shall have to submit the required documents in PERSON and report to
          the Admission Coordinator on the date and time as prescribed in the
          intimation letter.
        </li>
        <br />
        <li>
          All documents in original for admission must be brought to the
          University by the candidate.
        </li>
        <br />
        <li>
          The required fees for admission must be brought at the time of
          admission and challan deposit shall be made at the in-house Central
          Bank of India.
        </li>
        <br />
        <li>
          Required documents incomplete in any respect or not accompanied by
          required fees will be summarily rejected.
        </li>
        <br />
      </ol>
    </div>
  </div>
  <div class="top">
    <button id="scrolltotop" title="Go to top">
      <a href="#"> &#8593;</a>
    </button>
  </div>
  {% endblock %}
</div>

{% block script %}
<script>
  const btntop = document.querySelector("#scrolltotop");
  btntop.addEventListener("click", function () {
    //window.scrollTo(0, 0);
    window.scrollTo({
      top: 0,
      left: 0,
      behavior: "smooth",
    });
  });
</script>
{% endblock %}
